# Ignore editor and system files
.vscode/
.idea/
.DS_Store
# Ignore dependencies managed by pip
myenv/
venv/
env/
*.pyc
*.pyo
__pycache__/

# Ignore build artifacts
build/
dist/

# Ignore configuration files with sensitive information
config.ini
secrets.json

# Ignore log files
*.log

# Ignore any other files or directories not needed in the repository
data/
docs/
